<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=UTF-8>
    <title>Страница модератора</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: "#da373d"
                    }
                }
            }
        };
    </script>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>

    <link rel=stylesheet th:href="@{/css/styles.css}">
    <link rel=stylesheet th:href="@{/css/fonts.css}">
    <link rel=preconnect href=https://fonts.googleapis.com>
    <link rel=preconnect href=https://fonts.gstatic.com crossorigin>
    <link rel="stylesheet" th:href="@{/css/splide.min.css}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel=stylesheet>
    <link href=https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css rel=stylesheet/>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js></script>

</head>


<body>

<header th:insert="~{html/moderHeader.html :: moderHeaderElem}">

</header>

<div class="flex-col items-center justify-center space-x-2 w-full mx-auto">
    <div class="bg-[#f78e81]">
        <div class="  mx-auto justify-between text-center  ">
            <h1 class="text-2xl  poppins-semibold py-4 items-center mb-2">Жалобы на пользователей</h1>

        </div>

        <div class="flex flex-wrap space-x-8 items-center  justify-center">


            <div   th:each="complaint: ${complaints}"
                   class="flex flex-wrap justify-center items-center space-x-4 mb-8 ">

                <div th:id="'complaint-' + ${complaint.getId()}" class="w-[21rem] h-[18rem] rounded-lg bg-[#ff8066]  shadow-xl shadow-black-500/50 flex flex-col  ">
                    <a  th:href ="@{/userComplaint/{id}(id=${complaint.getId()})}">

                    </a>
                    <div class="flex h-2/3">
                        <div class="w-3/8 flex-shrink-0">
                            <img class="p-1 h-40 w-40 object-cover" src="/img/ыыы.jpg" alt="Image">
                            <p class="text-center font-semibold" th:text="${#strings.replace(#strings.replace(complaint.getType(), '[', ''), ']', '')}"></p>
                        </div>
                        <div class="ml-4 h-4/8 w-7/8 pr-6">

                            <div class="  break-all  overflow-hidden  "   th:text="${complaint.getDescription()}"></div>
                        </div>
                    </div>

                    <div class="mt-auto flex justify-between">
                        <input type="hidden" th:value="${complaint.getId()}" id="complaintIndex">
                        <button class="h-12 w-2/6 rounded-md bg-[#ff3319]"  onclick="rejectComplaint(document.getElementById('complaintIndex').value)">Отклонить</button>

                        <a  th:href ="@{/moderator/userComplaint/{id}(id=${complaint.getId()})}">
                            <button class="h-12 w-full rounded-md bg-[#19ff21]" >Рассмотреть</button>
                        </a>
                    </div>

                </div>


            </div>


        </div>
    </div>
    <div class="flex flex-col w-128 bg-[#f7fee7] items-center pt-2 pb-5 justify-center">
        <div class="w-128 px-12 pt-2 pb-2">
            <div class="flex flex-row justify-between">
                <h1 class="text-2xl mr-8 poppins-semibold cursor-pointer mb-2">Новости</h1>
                <h1 class="text-lg text-green-700 hover:text-green-900 hover:underline cursor-pointer">Читать все</h1>
            </div>
            <div class="flex flex-row space-x-5 justify-center ">
                <div class="flex flex-wrap space-x-8 items-center justify-center relative h-64 w-96  ">
                    <div class="h-full w-full relative overflow-hidden ">
                        <img src=https://www.homesoverseas.ru/upload/userfiles/images/1(69).jpg
                             class="h-full w-full object-cover relative rounded-sm hover:scale-125 transition duration-500 ease-in-out">
                        <div class="absolute bottom-0 w-full justify-center text-white font-bold bg-gradient-to-t from-black to-transparent w-full px-4 py-3 h-1/3">
                            <h1 class="mx-auto text-2xl">
                                Новость 1
                            </h1>
                            <p>
                                Недвижимость подешевела
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap space-x-8 items-center justify-center relative h-64 w-96">
                    <div class="h-full w-full relative overflow-hidden">
                        <img src="https://d2hhh2ewuz3i8z.cloudfront.net/crop/960x720/https://production-kyero-property-images.s3.amazonaws.com/14634/14634427/263363510_original.jpg?checksum=c6a0e3a3bbef5e4cc9282d991aa90789f2682d9a"
                             class="h-full w-full object-cover relative rounded-sm hover:scale-125 transition duration-500 ease-in-out">
                        <div class="absolute bottom-0 w-full justify-center text-white font-bold bg-gradient-to-t from-black to-transparent w-full px-4 py-3 h-1/3">
                            <h1 class="mx-auto text-2xl">
                                Новость 2
                            </h1>
                            <p>
                                Недвижимость подешевела
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap space-x-8 items-center justify-center relative h-64 w-96">
                    <div class="h-full w-full relative overflow-hidden">
                        <img src=https://avatars.dzeninfra.ru/get-zen_doc/3396902/pub_60c0c9d77cb731529f74ec4d_60c0e425f7426b51832b4185/scale_1200
                             class="h-full w-full object-cover relative rounded-sm hover:scale-125 transition duration-500 ease-in-out">
                        <div class="absolute bottom-0 w-full justify-center text-white font-bold bg-gradient-to-t from-black to-transparent w-full px-4 py-3 h-1/3">
                            <h1 class="mx-auto text-2xl">
                                Новость 3
                            </h1>
                            <p>
                                Недвижимость подешевела
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/carousel.js}"></script>
<script th:src="@{/js/splide.min.js}"></script>

<script>
    const estatesSize = document.getElementById('estatesSizeModer').value;
    const estatesSize2 = document.getElementById('estatesSizeModer2').value;
    console.log(estatesSize2)
    document.querySelectorAll('[id^="image-carouselModer"]').forEach(carousel => new Splide(carousel).mount());

    document.querySelectorAll('[id^="image-carouselModer2"]').forEach(carousel => new Splide(carousel).mount());
</script>
<script>
    function rejectComplaint(complaintId ) {

        var complaintElement = document.getElementById('complaint-' + complaintId);
        console.log(complaintElement)
        // Send a DELETE request to your backend API to delete the complaint
        fetch('/moderator/complaint/' + complaintId, {
            method: 'DELETE',
        })
            .then(response => {
                if (response.ok) {

                    complaintElement.parentNode.removeChild(complaintElement);
                } else {

                    return response.json().then(errorData => {
                        console.error('Failed to delete complaint:', errorData);
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
<script th:src="@{/js/popup.js}"></script>
<script th:inline="javascript">
    function redirectToEstatePage(id) {
        window.location.href = '/estateDetails/' + id;
    }

</script>
</body>

</html>