<!DOCTYPE html>
<html lang=en>

<head>

    <meta charset=UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: "#da373d"
                    }
                }
            }
        };
    </script>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <link rel=stylesheet th:href="@{/css/profile.css}">

    <link rel=stylesheet th:href="@{/css/fonts.css}">
    <link rel=preconnect href=https://fonts.googleapis.com>
    <link rel=preconnect href=https://fonts.gstatic.com crossorigin>
    <link rel="stylesheet" th:href="@{/css/splide.min.css}">
    <link rel="stylesheet" href="fonts/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css"
          integrity="sha512-dUOcWaHA4sUKJgO7lxAQ0ugZiWjiDraYNeNJeRKGOIpEq4vroj1DpKcS3jP0K4Js4v6bXk31AAxAxaYt3Oi9xw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel=stylesheet>
    <link href=https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css rel=stylesheet/>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js>
    </script>
</head>

<body class="bg-[#F9F9F9]">

<script src="three.min.js"></script>


<span class="main_bg"></span>

<div class="w-full h-full">
    <header th:insert="~{html/header.html :: headerElem}">

    </header>
    <div class="container">
        <section class="userProfile card">
            <div class="profile">
                <figure><img src="/img/ыыы.jpg" alt="profile" width="250px" height="250px"></figure>


            </div>
        </section>
        <section class="work_skills card">
            <div class="work">

                <div class="rank text-center   ">
                    <!-- <h1 class="heading">
                    Рейтинг
                </h1> -->
                    <!-- #region -->
                    <div class="text-4xl mx-auto text-center  mb-2" th:text="${currentUser.get().getLogin()}"></div>
                    <div class="rating flex flex-col justify-center   text-center mx-auto w-full items-center ">
                        <div class="mb-2 ">
                            <a  th:href ="@{/review/reviewsPage/{id}(id=${currentUser.get().getId()})}" >
                                <span class="mr-6 text-3xl font-medium  ">8,6</span>
                                <i class="ri-star-fill ri-xl "></i>
                                <i class="ri-star-fill ri-xl "></i>
                                <i class="ri-star-fill ri-xl  "></i>
                                <i class="ri-star-fill ri-xl  "></i>
                                <i class="ri-star-fill ri-xl "></i>
                            </a>

                        </div>

                        <div  class=" mb-2">
                            <a th:href="@{/review/addReview(id=${id})}" class="ml-4 px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">Оставить отзыв</a>
                        </div>

                    </div>
                </div>
                <h1 class="heading">О СЕБЕ</h1>
                <div class="w-full flex items-center justify-center ">

                    <div class="  ml-16">

                        <i class="ri-map-pin-fill ri"></i>

                        <span>Москва, м. Пражская</span>
                    </div>
                    <div class="reg_date " th:text="${currentUser.get().getRegistrationDate()}"></div>
                </div>
                <div>Продавец</div>
                <div class="secondary">
                    <h1>Риэлтор</h1>
                    <span>
                        Доп.
                    </span>
                    <p>пр-т Мира, 100, Москва, 129626 </p>
                </div>
            </div>
            <div class="skills">
                <h1 class="heading">Компетенции</h1>
                <ul>
                    <li style="--i:0">Продажа элитной недвижимости</li>
                    <li style="--i:1">Успешные сделки по аренде</li>
                    <li style="--i:2">Инновационные маркетинговые стратегии</li>
                    <li style="--i:3">Высокий уровень клиентского сервиса</li>
                </ul>
            </div>
        </section>

        <section class="userDetails card">
            <div class="userName">
                <h1 class="name" th:text="${currentUser.get().getLogin()}"></h1>
                <div class="map">
                    <i class="ri-map-pin-fill ri"></i>
                    <span th:text="${currentUser.get().getLogin()}"></span>
                </div>
                <p>Продавец</p>
            </div>

            <div class="btns">
                <ul>
                    <li class="sendMsg">
                        <i class="ri-chat-4-fill ri"></i>
                        <a href="#">Сообщение</a>
                    </li>


                    <li class="sendMsg px-5 py-2  bg-red-500 ">
                        <i class="ri-alarm-warning-fill ri"></i>
                        <a th:href="@{/addUserComplaint(senderId = ${currentUser.get().getId()}, recipientId = ${currentUser.get().getId()})}">Пожаловаться</a>

                    </li>
                </ul>
            </div>

        </section>
        <section class="timeline_about card">
            <div class="tabs">

                <li class="about active">
                    <i class="ri-user-3-fill"> </i>
                    <span>О пользователе </span>

                </li>
            </div>
            <div class="contact_info">
                <h1 class="heading">Контактная информация</h1>
                <ul>
                    <li class="phone">
                        <h1 class="label">
                            Телефон:
                        </h1>
                        <span class="info" th:text="${currentUser.get().getPhone()}"></span>
                    </li>

                    <li class="email">
                        <h1 class="label">
                            Вебсайт:
                        </h1>
                        <span class="info" th:text="${currentUser.get().getDescription()}"></span>
                    </li>
                </ul>
            </div>
            <div class="basic_info">
                <h1 class="heading">Базовая информация</h1>
                <ul>
                    <li class="birthday">
                        <h1 class="label">Дата рождения

                        </h1>
                        <span class="info">01/03/1994</span>
                    </li>
                    <li class="sex">
                        <h1 class="label">Пол:</h1>
                        <span class="label">Мужской</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>

</divc>
</body>

</html>